@namespace RizzziGit.EnderBytes.Web

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <base href="/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <Microsoft.AspNetCore.Components.Web.HeadOutlet />
    </head>

    <body>
        <Microsoft.AspNetCore.Components.Routing.Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData"/>
                <Microsoft.AspNetCore.Components.Routing.FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
        </Microsoft.AspNetCore.Components.Routing.Router>
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>
